



    
.sideProfile{
background-color: white;
display:flex;
flex-flow:column wrap;
align-items:center;
justify-content:flex-end;
text-align: center;
border-radius: 20px;
background-position:center;
background-size:cover;
gap:5px;
width:260px;
height:400px;

    h5 {
        display:inline-block;
        white-space: nowrap;
        margin-top: 100px;
        margin-bottom: 10px; 
        font-weight: 500; 
        letter-spacing: 0.05em; 
        background-color: #fff; 
        border-radius: 9999px;
        font-size:22px; 
        padding-top: 0.2rem;
        padding-bottom: 0.2rem; 
        padding-left: 1rem;
        padding-right: 1rem; 
        
    }

    p {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem; 
        padding-left: 0.5rem;
        padding-right: 0.5rem; 
        background-color: #E5E7EB; 
        border-radius: 9999px; 
        margin-bottom: 20px;
       
          
    }
    span{
        display: inline-block;
        white-space: nowrap;
    }

    a {
        display: flex; 
        padding-top: 0.25rem;
        padding-bottom: 0.25rem; 
        padding-left: 0.5rem;
        padding-right: 0.5rem; 
        margin-top: 0.75rem;
        margin-bottom: 0.75rem; 
        //background-color: #E5E7EB; 
        justify-content: flex-end; 
        align-items: end; 
        //border-radius: 9999px;
       
    }
    .dataContainer{
        width: 100%;
        height: 40%;
        background-color: #fafafa;
        opacity: 0.7;
        display: none;
        transition: 0.7s;
        margin-top: 10px;
        .contact{
            display: flex;
            justify-content: space-around;
            color: white;
            opacity: 1;
        }
        h3{
            padding: 0px 20px 0px 20px;
            margin-bottom: 20px;
            opacity: 1;
        }
    }
    &:hover{
        .dataContainer{
            display: block;
        }
    }
}



    